<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Spartrak_Locale" setup_version="1.0.0">
        <sequence>
            <!-- Directory owns Magento\Directory\Model\Currency, whose formatter
                 this module's preference stands behind. -->
            <module name="Magento_Directory"/>
        </sequence>
    </module>
</config>
