<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="paymob_payment" frontName="paymob_payment">
            <module name="Paymob_Payment"/>
        </route>

        <route id="paymob" frontName="paymob">
            <module name="Vendor_Paymob"/>
        </route>
    </router>
</config>
